ENVIRONMENT="development"

DATABASE_USER="root"
DATABASE_PASSWORD="rootooro"
DATABASE_NAME="nest"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

JWT_SECRET=wFvQwFFRURXDTCqaeTQPiVLHyKFAyqIrSYVQzOgskqgUJvOVTEvmWTBHpIOAnaHwezusoFQlrjfkXzOhWFxApGOoZyxzMIKB
JWT_SECRET_EXPIRE_TIME="5m"
JWT_REFRESH_SECRET=NrDJAKZURciziwYzDnTVapXouYKLqjCMtRbEkereSXzXhrBdNIXlBhPDAQnrkJBJpXfBAaRAeNtRTIIpspinWpfwcSrZMSyW
JWT_REFRESH_SECRET_EXPIRE_TIME="7d"
SESSION_INACTIVITY_DAYS=30